# env
.env

# Rust
backend/target/

# Flutter/Dart
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/build/

# Android
frontend/android/**/gradle-wrapper.jar
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/key.properties
frontend/android/app/*.jks

# iOS
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/ios/Flutter/Flutter.framework
frontend/ios/Flutter/Flutter.podspec

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store

# Postgres data (bind-mounted volumes, if any)
pgdata/
